.IntGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 50px auto;
    }
    
    .IntGame h1 {
    font-size: 2rem;
    margin: 1rem 0;
    }
    
    .IntGame p {
    font-size: 1.5rem;
    margin: 1rem 0;
    }
    
    .IntGame h2 {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
    }
    
    .IntGame form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .IntGame input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    }
    
    .IntGame .btn {
    font-size: 1.5rem;
    padding: 0.5rem 0.3rem;
    margin: 1rem 0;
    background-color: #f54f48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    .IntGame .message {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    font-weight: bold;
    }
    
    .IntGame .correct {
    color: #f54f48;
    }
    
    .IntGame .incorrect {
    color: red;
    }



    @media (max-width: 768px) {
        .IntGame h1 {
            font-size: 1.5rem;
        }
        
        .IntGame p {
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }
        
        .IntGame h2 {
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        
        .IntGame input {
            font-size: 1.2rem;
            padding: 0.3rem;
            margin: 0.5rem 0;
            width: 250px;
        }
        
        .IntGame .btn {
            font-size: 1.2rem;
            padding: 0.3rem 0.2rem;
            margin: 0.5rem 0;
        }
        
        .IntGame .message {
            font-size: 1.5rem;
            margin: 0.5rem 0;
        }
    }
    
      